
body
{
		background-color : #3D0101; 
}
.banner
{
		background-color : #3D0101;
		text-align : center;
		font-size : 250%;
}
.navbar
{
		color : black;
		float : left;
		width : 210px;
        background-color : #3D0101;
        min-height : 1000px;

}
.navbar a
{
		color: white;
}
.banner4
{		
		background: url('Bread2.JPG');
		display:block; 
		width : 200px;
        background-color : #3D0101;       
		min-height : 1070px;
		background-size: 100%;
		float : right;
}
.mainhome
{
		font-weight:900;
		color : white;
		background-color : #3D0101;
		margin-left : 210px;
		margin-right: 210px;
		background-size : 100%;
		min-height : 500px;
}
.main
{
		color : white; 
		font-weight:900;		
		margin-left : 210px;
		margin-right: 210px;
		background: url('RomanFlag24.jpg');
		background-size: 100%;
		min-height : 1070px;  
}
.main a
{
		color: white;
}
.commentboxdisplay
{
		color : black;
		background-color : white;
		margin:auto;
		height : auto;
		width: auto;
		max-width: 100%;
		min-height : 100px;
		max-height : 100px;
		overflow : scroll;
}
.commentbox
{
		color : black;
		margin:auto;
		height : auto;
		width: auto;
        max-width: 100%;
}
.comment2
{
		border : 2px solid;
}
.pic
{
      display:block;
      margin:auto;
      height : auto;
      max-height:100%;
      width: auto;
	  max-width: 100%;
}
.hitcount
{  
		color : white;
}
.hitcount2
{
		color : white;
}
.form
{
		font-weight:900;
		color : white;
}
.form2
{
		font-weight:900;
		color : white;
}